/* RESET */
img {
    max-width: 100%;
}
/* FONT */
body {
    font-family: 'Roboto', sans-serif;
}
/* PAGE STYLE */
.wrapper {
    width: 100%;
    height: 100vh;
    /* debug */
    background-color: red;
}
 /* IMPOSTAZIONI NAVIGATION */
 .navbar {
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F9FA;
  }
  .form-control {
    background-color: #E5E5E5;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    width: 10%;
    display: flex;
    align-items: center;
  }
  .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    width: 10%;
    display: flex;
    align-items: center;
  }
  .search-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .logo-small {
    height: 50px;
  }
  .my_list {
    line-height: 10px;
  }
  .bell {
    color: #FF8F00;
  }
  /* IMPOSTAZIONI SIDEBAR */
  .sidebar {
    height: calc(100vh - 80px);
    width: 100px;
    background-image:url(../img/sidebar-bg.png) ;
    background-color: #051E34;
  }
  .sidebar ul  {
    font-size: 1.5rem;
    list-style: none;
  }
  .side-link {
    color: white;
  }
  @media screen and (min-width:992px){
    .sidebar {
      width: 200px;
    }
  }
  /* MAIN-CONTENT */
  .main-content {
    height: calc(100vh - 80px) ;
    width: 100%;
    display: flex;
  }
  .main-head {
    background-color: #1B72E8;
    color: white;
  }
  .badge {
    background-color: #165BBA;
    line-height: 1;
  }
  .my-white {
    color: white;
    text-decoration: none;
  }
  /* BODY-MAIN */
  .body-main {
    background-color: #F8F9FA;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  th p {
    margin-bottom: 0.2rem;
  }